
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* share-style */
.web-bg{
    background-color: #FFF8F3;
}
.Moni-ruzz-aman{
    color: #FD6E0A;
    ;
    font-size: 45px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(2, 35, 36);
}
.section-dis{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.nav-title{
    font-weight: 800;
    font-size: 40px;
}
nav ul{
    display: flex;
    align-items:center;
}
nav ul li {
    list-style: none;
    margin-left: 50px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: rgb(71, 71, 71) ;
}
.btn-MT{
    background-color: #FD6E0A;
   font-weight: bold;
   color: white;
   padding: 18px 35px;
   border-radius: 11px;
   font-size: 20px;
   border: none;

}
.mt-ditals{
    text-align: justify;
    color: rgb(71, 71, 71) ;
}
/* banner styls */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 180px;
}
.content{
max-width: 580px;
}
.mt-hi{
    font-size: 40px;
    font-weight: 600;
}
.Moniruzzaman{
    font-size: 60px;
    font-weight: bold;
}
.mt-img{
    width: 580px;
    
}
/* main style */
main{
    width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}
/* about */
.about{
    border-radius: 15px;
    padding: 130px 155px;
    text-align: center;
   
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    
}
.items-dis{
    font-weight: bold;
   
}
/* section-2 */
.skill-father{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    
}
.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 50px 0px rgb(150, 160, 95) ;
}
/* resume section style */
.resume-content{
    display: flex;
    gap: 30px;
}
.sub-ex-ti{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
.sub-ti{
    font-size: 20px;
    color: #757575;
    font-weight: 700;
    margin-bottom: 80px;
}
.resume-col-ti{
    font-size: 26px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 20px;
}
.colom{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 80px;
}
.resume hr{
    margin: 30px 5px;
}
.Mttt{
    margin-top: 50px;
}